In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
cd demo

C:\Users\Admin\documents\demo

In [5]:
df=pd.read_csv('summer.csv')

In [6]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [7]:
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

# 1. In how many cities Summer Olympics is held so far?

In [8]:
len(df['City'].unique())

22

# 2.Which sport is having most number of gold medals so far?

In [9]:
for Medal in df['Medal'].unique():  
    print(Medal,":",len(df[df['Medal']=='Gold']))

Gold : 10486
Silver : 10486
Bronze : 10486

In [10]:
df1=df[df['Medal']=='Gold']
data=df1.groupby(['Sport']).count()['Medal'].sort_values(ascending=False).head()

In [11]:
data

Sport
Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Medal, dtype: int64

# 3.Which sport is having most number of medals so far?

In [13]:
data=df.groupby(['Sport']).count()['Medal'].sort_values(ascending=False).head()
print (data)

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

# 4.Which player has won most number of medals?

In [15]:
data=df.groupby(['Athlete']).count()['Medal'].sort_values(ascending=False).head()

print(data)

Athlete
PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
Name: Medal, dtype: int64

# 5.Which player has won most number of Gold medals?

In [14]:
df1=df[df['Medal']=='Gold']
data=df1.groupby(['Athlete']).count()['Medal'].sort_values(ascending=False).head()

print (data)

Athlete
PHELPS, Michael     18
LEWIS, Carl          9
NURMI, Paavo         9
SPITZ, Mark          9
LATYNINA, Larisa     9
Name: Medal, dtype: int64

# 6.In which year India won Gold medal in Summer Olympics?

In [16]:
df1=df[df['Medal']=='Gold']

df1[df['Country']=='IND'].head(1)

<ipython-input-16-562d2c696f7e>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df['Country']=='IND'].head(1)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5512,1928,Amsterdam,Hockey,Hockey,"ALLEN, Richard James",IND,Men,Hockey,Gold

# 7.Which event is most popular in terms of number of players?

In [17]:
data=df.groupby(['Event']).count()['Athlete'].sort_values(ascending=False).head()

print(data)

Event
Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Athlete, dtype: int64

# 8.Which sport is having most female medalists?

In [18]:
df2=df1[df['Gender']=='Women']
df1=df[df['Medal']=='Gold']

data=df2.groupby(['Sport']).count()['Gender'].sort_values(ascending=False).head()

print(data)

Sport
Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Gender, dtype: int64

<ipython-input-18-f90fc607fe77>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2=df1[df['Gender']=='Women']